/*
 * Markdown PDF CSS
 */

 body {
	font-family: "Segoe UI", Segoe, Calibri, "Ubuntu", Tahoma, Arial, Helvetica, Verdana, sans-serif;
	font-size: 15px;
	text-align: justify;
	line-height: 1.5;
	background-color:#f8f8f5;
}

h1, h2, h3, h4, h5, h6 {  /* main title and sub-title */
	font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
	/*color: rgb(10, 132, 100); //body color applied */
	letter-spacing: 1px;
	line-height: 1.2;
	text-align:left;
}
h1 {
	font-size: 35px;
	font-weight: 350;
	padding: 0.2em 0;
	/*color: rgb(10, 132, 100);*/
	color:#262626;
}
h2 {
	font-size: 30px;
	font-weight: 300;
	padding: 0.2em 0;
     border-bottom: thin solid rgb(120, 155, 116);
	color: rgb(10, 102, 98);
}
h3 {
	font-size: 25px;
	border-bottom: thin solid rgb(193, 97, 49);
	padding: 1.5em 0 0.3em 0;
	color: rgb(200, 12, 10);
    
}
h4 {
	
	font-size: 20px;
	font-weight: 250;
	padding: 1.5em 0 0.3em 0;
	border-bottom: thin dotted rgb(12, 155, 116);
	color: rgb(81, 93, 81);
}
h5, h6 {
	font-family: "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #444;
	padding: 1.2em 0 0 0;  /* top right bottom left */
	letter-spacing: 1px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	border-radius: 3px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre:not(.hljs) {
	padding: 23px;
	line-height: 19px;
}

blockquote {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
	height: 1.4em;
}

code {
	font-size: 12px;
	line-height: 15px;
} 

/* for inline code */
:not(pre):not(.hljs) > code {
	color: #9e9c67; /* Change the old color so it seems less like an error */
	font-size: inherit; 
}

em {
	color:#9e9c67;
	font-size: smaller;
}

ul li > a[href] {
	font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin-left : 0px;
	padding-left: 0px;
	color: rgb(12, 53, 64);
	font-size: 20px;
	font-weight: 250px;
}

ul li ul li > a[href] {
	margin-left : 20px;
	padding-left: 0px;
	color: rgb(35, 93, 66);
	font-size: 16px;
	font-weight: 175px;
}

ul li ul li ul li > a[href] {
	margin-left : 50px;
	padding-left: 0px;
	color: rgb(45, 106, 103);
	font-size: 14px;
	font-weight: 150px;
}



 ul {
    counter-reset: custom-counter;
    list-style: none;
    padding-left: 0;
  }

  /* Apply styles to the list items 
  ol li {
    counter-increment: custom-counter;
    margin-bottom: 0.1em; /* Adjust as needed */
	/* display: inline-block;
  } */

  /* Apply styles to the numbers */
  /* ol li::before {
    content: counter(custom-counter) ".";
    color: rgb(5, 16, 137); 
    font-weight: bold; 
    margin-right: 0.5em;  */
  } */
 

  
/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
	page-break-after: always;
}